# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [220]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:   #we check if there is a reminder in a & b or not 
        return min(a,b)  #if no reminder return the minimum of a &b
    else:
        return max(a,b)   #if yes return the maximum one
res = lesser_of_two_evens(2,4) 
res2 = lesser_of_two_evens(2,5)
print(res)
print(res2)

2
5

In [221]:
# Check
lesser_of_two_evens(2,4)

2

In [222]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [20]:
def animal_crackers(text):

    thisword=text.split() #the function split take every lertter  
    result=False
    if thisword[0][0] == x[1][0]: #check
        print( "true")
    else:
        print("false")

In [24]:
# Check
animal_crackers('Levelheaded Llama')

true

In [25]:
# Check
animal_crackers('Crazy Kangaroo')

false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    pass

In [ ]:
# Check
makes_twenty(20,10)

In [ ]:
# Check
makes_twenty(2,3)

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [49]:
def old_macdonald(name):
    s = " "
    for i in range(len(name)):  #loop that ask for i in the sum of the letters of old_macdonald 
        if i == 0: #if letter
            s =s + name[0].upper() #make first letter capital
        elif i == 3:
            s =s + name[3].upper() #make the fourth letter is capital
        else:
            s =s + name[i]
    return s
result = old_macdonald('macdonald')
print(result)
result2 = "macdonald".capitalize()
print(result2)

 MacDonald
Macdonald

In [46]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(n):
    pass

In [ ]:
# Check
almost_there(104)

In [ ]:
# Check
almost_there(150)

In [ ]:
# Check
almost_there(209)

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [107]:
def has_33(nums):
    if nums[0] == nums [1] == 3 or nums[1] == nums[2] == 3: #check if no 2&3==3,3 or not
        return True
    else:
        return False

In [108]:
# Check
has_33([1,3,3])

True

In [109]:
# Check
has_33([1, 3, 1, 3])

False

In [110]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [116]:
def paper_doll(text):
    result=""
    for letters in text : #loop to do this function 2 times
        result += letters*3  #to make every letter in every word mul by 3
    return result

In [117]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [113]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [146]:
def blackjack(a,b,c):
    sum = a + b + c #define the summation of abc
    if sum <= 21:  #check if th sum of the number <21 or not
        return sum
    elif sum > 21: #check if the num > 21 or not
        if a == 11 or b == 11 or c == 11: 
            return sum-10
        else:
            return "BUST"

In [147]:
# Check
blackjack(5,6,7)

18

In [148]:
# Check
blackjack(9,9,9)

'BUST'

In [145]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [209]:
def spy_game(nums):
    spy_g = 0
    for i in nums: #loop that tell i is in function nums then do the if condition
        if i == 0: #ask if i =0
            spy_g += 1 #if yes sum 1 to num
            continue
        if spy_g == 2: #check if nums contain 2
            if i == 7: #check if nums contain 7
                return True
        else:#print(i)
            continue
    return False

In [210]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [211]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [212]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):

In [ ]:
# Check
count_primes(100)

## Great Job!