# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [3]:
s = 'hello'
# Print out 'e' using indexing
s[1] #print e using index

'e'

Reverse the string 'hello' using slicing:

In [7]:
s ='hello'
# Reverse the string using slicing
print=(s[::-1]) #using -1 for reverse & :: to show the start and end,, by step 1 
print

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [8]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [23]:
# Method 2:
print=(s[-1:]) #print o from hello using ....
print

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [30]:
# Method 1:
list=[0,0,0]
list
type(list) #lnowing what is the type

list

In [29]:
# Method 2:
len(list) #counting the numbers in the list

3

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [34]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]="goodbye" #replace hello to goodbye 
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [37]:
list4 = [5,3,4,6,1]
list4.sort() #sort() is an order to sort nmaes or numbers
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [39]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key'] #using like a diction. the words and its means

'hello'

In [48]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2'] #it contain of two dicti. k1 and k2=hello

'hello'

In [60]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d['k1'][0]['nest_key'][1]

['hello']

In [ ]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello
d['k1'][0

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [73]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))
print

TypeError: 'str' object is not callable

** Given this nested list, use indexing to grab the word "hello" **

In [72]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2]

['hello']

** Given this nested dictionary grab the word "hello". **

In [81]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

### Write a Python program to swap two variables.

In [83]:
#2 variables
x = 3
y = 7
#make swap 
x,y = y,x
#print x in y and y in x
print("x =", x)
print("y =", y)

TypeError: 'str' object is not callable

## Thanks